<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.lenglian"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera"/>



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgetpswActivity"/>
        <activity android:name=".activity.GuidePageActivity"/>
        <activity android:name=".activity.LancherActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.XieYiActivity">
        </activity>
        <activity android:name=".activity.ZiLiaoActivity">
        </activity>
        <activity android:name=".fragment.home.MyShopCarActivity">
        </activity>
        <activity android:name=".activity.MessageActivity">
        </activity>
        <activity android:name=".fragment.home.CuXiaoActivity">
        </activity>
        <activity android:name=".fragment.home.ChangXiaoActivity">
        </activity>
        <activity android:name=".fragment.good.GoodDetailActivity">
        </activity>
        <activity android:name=".fragment.mine.AddcardActivity"/>
        <activity android:name=".fragment.mine.CardActivity"/>
        <activity android:name=".fragment.mine.WarrantyActivity"/>
        <activity android:name=".fragment.mine.WalletActivity"/>
        <activity android:name=".fragment.mine.AddressActivity"/>
        <activity android:name=".fragment.mine.ManualActivity"/>
        <activity android:name=".fragment.mine.EvaluateActivity"/>
        <activity android:name=".fragment.mine.CollectionActivity"/>
        <activity android:name=".fragment.mine.AlterationActivity"/>
        <activity
            android:name=".fragment.mine.AboutweActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".fragment.mine.AmendpwdActivity"/>
        <activity android:name=".fragment.mine.SetActivity"/>
        <activity android:name=".fragment.mine.AccountActivity"/>
        <activity android:name=".fragment.mine.PersoninforActivity"/>
        <activity android:name=".fragment.mine.WarrantydetailActivity"/>
        <activity
            android:name=".fragment.mine.MaintenanceActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".fragment.mine.bean.AlterdetailActivity"/>
        <activity android:name=".fragment.mine.EvaluatedetailActivity"/>
        <activity android:name=".fragment.mine.AddaddressActivity"/>
        <activity android:name=".fragment.order.activity.RenewActivity"/>
        <activity android:name=".fragment.mine.ReturnActivity"/>
        <activity android:name=".fragment.order.activity.BaoxiuActivity"/>
        <activity
            android:name=".fragment.order.activity.ShopdetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".fragment.order.activity.OrderPayActivity"/>
        <activity android:name=".fragment.mine.ZhijiaActivity"/>
        <activity android:name=".fragment.mine.DinggouActivity"/>
        <activity android:name=".utils.pictureutils.PlusImageActivity"/>
        <activity android:name=".fragment.order.activity.ReceiptActivity"></activity>
        <activity android:name=".fragment.order.activity.AppraiseActivity"></activity>
        <!-- 友盟第三方登录及分享start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59acf7747f2c746f2e000b36"/>
        <!-- 友盟推送 -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="549d78df699326d156b80b3fb164b14e"/>
        <!-- 友盟统计的渠道 -->
        <!--
            <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        -->
        <!-- 新浪分享 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- qq精简版分享 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106246171"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 分享编辑页(只有新浪微博精简版，豆瓣人人腾讯微博领英twitter需要)： -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <!-- 友盟第三方登录及分享end -->

        <!--支付宝支付配置start-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!--支付宝支付配置end-->

        <activity android:name=".fragment.good.QueRenOrderActivity">
        </activity>
        <!--解决7.0照相机崩溃问题-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xykj.customview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".fragment.home.WebActivity">
        </activity>
    </application>

</manifest>